.contenedor {
    border: 5px solid #e1bee7;
    background-color: #FFF1FF;
    display: grid;
    grid-template-columns: minmax(30px, 300px) 200px minmax(20px, 300px);
    grid-template-rows: repeat(3, auto);
}

.item {
    border: 5px solid #00bcd4;
    font-size: 2rem;
}